<div class="manager-container">
  <div class="question-loader">
    <input 
      type="number" 
      [(ngModel)]="questionNumberInput" 
      placeholder="Introdu numărul întrebării"
    />
    <button (click)="fetchQuestionByNumber()">Get</button>
  </div>

  <div class="manager-title">
    {{ currentQuestion?.index }}. {{ currentQuestion?.question }}
  </div>

  <button class="wrong-button" (click)="triggerWrongAnswer()">Greșeală</button>

  <div class="answer-list">
    <div 
      class="answer-item" 
      *ngFor="let answer of currentQuestion?.answers; let i = index"
      (click)="revealAnswer(i)">
      {{ answer.text }} — {{ answer.points }}
    </div>
  </div>
</div>
