.scoreboard-wrapper {
  padding: 20px;
  color: #333;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(0, 195, 255);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    th, td {
      padding: 12px;
      border-bottom: 1px solid #ccc;
      text-align: center;
    }

    th {
      background: #f9c700;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  }
}
